@{
    ViewBag.Title = "Grid Sample";
}


<div id="gridFilter" class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <button type="button" class="btn btn-default" data-bind="click: load"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Int value</th>
                    <th>Double value</th>
                    <th>Decimal value</th>
                    <th>String value</th>
                    <th>Bool value</th>
                    <th>Date value</th>
                    <th>Enum value</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Rows">
                <tr>
                    <td data-bind="text: IntValue"></td>
                    <td data-bind="text: DoubleValue"></td>
                    <td data-bind="text: DecimalValue"></td>
                    <td data-bind="text: StringValue"></td>
                    <td data-bind="text: BoolValue"></td>
                    <td data-bind="text: DateValue"></td>
                    <td data-bind="text: EnumValue"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/KnockTable/KnockTable.js"></script>
    <script src="~/Scripts/GridSample.js"></script>
}