@{
    ViewBag.Title = "TsGenerator";
}

<h2>TypeScript Generator</h2>

<pre style="background-color:#e4f0fb;padding:10px;">
@(new KnockMvc.TypeScriptGeneration.TypeScriptGenerator<KnockMvc.Common.TypeScriptGenerateAttribute>(typeof(KnockMvc.DTO.CustomClassData).Assembly).Generate())
</pre>
