@{
    ViewBag.Title = "TsGenerator";
}

<h2>TypeScript Generator</h2>

<pre style="background-color:#e4f0fb;padding:10px;">
@(new KnockMvc.TypeScriptGenerator.TypeScriptClassGenerator().Generate<KnockMvc.Common.TypeScriptGenerateAttribute>(typeof(KnockMvc.DTO.CustomClassData).Assembly))
</pre>


@*<pre style="background-color:#e4f0fb;padding:10px;">
    @(new KnockMvc.TypeScriptGenerator.TypeScriptControllersGenerator<KnockMvc.Common.TypeScriptControllerGenerateAttribute>(typeof(KnockMvc.Web.Controllers.api.GridController).Assembly).Generate())
    </pre>*@
