@{
    ViewBag.Title = "TsGenerator";
}

<h2>TypeScript Generator</h2>

<pre style="background-color:#e4f0fb;padding:10px;">
@(new KnockMvc.Common.TsGenerator(new List<Type>() { typeof(KnockMvc.DTO.MyStuff.RowGeneratorTestData) }).Generate())
</pre>
